<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">	
	<head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link href="{CSS_PATH}/indextop.css" type="text/css" rel="stylesheet"/>
        <link href="{CSS_PATH}/content.css" rel="stylesheet" type="text/css"/>
        <title>旋风教育</title>
    </head>
    <body>
    <!--       -导航 -      -->
    	<div class="top">
    		<div class="logo">
    			<img src="{IMG_PATH}/logo.jpg" width="225px" height="107px"/>
    		</div>
    		<div class="dengzhu">
    			<div class="zhuce">
    				<a href="#"  target=_blank>
                        <img src="{IMG_PATH}/zhuce.jpg" width="23px" height="22px"/>
                        <div class="zi">注册</div>
                    </a>
    			</div>
    			<div class="denglu">
    				<a href="#"  target=_blank>
                        <img src="{IMG_PATH}/denglu.jpg" width="22px" height="22px"/>
                        <div class="zi">登录</div>
                    </a>
    			</div>
    		</div>
    		<div class="nav">
    			<ul>
    				<li><a href="#"><span class="shouye">首页</span></a></li>
    				<li><a href="#">测试提分</a></li>
    				<li><a href="#">高考押题</a></li>
    				<li><a href="#">发掘潜能</a></li>
    				<li><a href="#">权威专家</a></li>
    				<li><a href="#">大学须知</a></li>
                    <li><a href="#">高考新闻</a></li>
    				<li><a href="#">关于我们</a></li>
    			</ul>
    		</div>
    	</div>
        
         <!--       -banner-      -->
        <div class="contentbanner">

        </div>
        <div class="zhongjian">
        	<div class="contenttop">
				<span>当前位置：<a class="mbx"href="#">首页</a> ><a class="mbx" href="#">高考新闻</a> ><a class="mbx" href="#">资讯更新</a></span>
			</div>
        	<div class="biaoqian">
				<div class="first">
		        	<div class="tw">
		        		<img src="{IMG_PATH}/con_tu.jpg"/>
		        		<div id="zi">
		        			 <h1>“最严高考”即将来临  2016高考最新变化汇总</h1>
		        		 		<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2016年全国高考即将到来。今年是《中华人民共和国刑法修正案（九）》施行后的首次高考，替考、作弊、协助作弊等行为轻则拘役，重则入刑。这将给高考考场带来哪些新变化？“最严考场”有多严？各省（区市）近日也陆续公布了今年的高考招生政策，一些省（区市）的普通高校招生政策作出较大调整。这些变化能给考生带来哪些利好？专项行动打造考场“铜墙铁壁”“作弊入刑”</p>
		        		 	<div class="theme">
		        				 <span id="time">发表时间：2016/3/27&nbsp;&nbsp;&nbsp;主题：高考新闻 </span>
		        				 <a href="#">查看更多</a>
		        			 </div>	
		        		</div>
		       		</div>
		    	 </div>

		    	 <div class="sec">
		        		 <h1>高考倒计时 高三学子你准备好了吗？</h1>
		        		 <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;寒窗苦读十二载，高考进入倒计时。参加今年高考的考生都在做最后的冲刺准备。高考对广大学子来说就是一场没有硝烟的战场。近日，天津市各高校通过多种方式让考生们放松心情，以积极、阳光的心态面对高考。</p>
		        		<div class="theme">
		        			 <span id="time">发表时间：2016/3/27&nbsp;&nbsp;&nbsp;主题：高考新闻 </span>
		        			 <a href="#">查看更多</a>
		        		 </div>		       		
		     	</div>

		     	<div class="sec">
		        		 <h1>今年高考期间 预计中到大雨</h1>
		        		 <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;重庆晚报讯 一年一度的高考即将拉开帷幕，市气象局昨日发布专题气象预报，预计下月7日至8日各地为中至大雨，局部暴雨。具体的高考天气，市气象台将在下月4日前后发布，请广大考生及家长密切关注。重庆晚报记者从市气候中心获悉，根据气象数据显示，常年6月3日~10日，我市各地平均气温为20.7℃~24.7℃；期间历年最高气温为34.3℃~39.6℃，历年最低气温为7.6℃~16.1℃。......</p>
		        		<div class="theme">
		        			 <span id="time">发表时间：2016/3/27&nbsp;&nbsp;&nbsp;主题：高考新闻 </span>
		        			 <a href="#">查看更多</a>
		        		 </div>		       		
		     	</div>

		     	<div class="sec">
		        		 <h1>2016年上海交通大学香港2+2国际本科预备课程招生</h1>
		        		 <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;考倒计时100天、80天、60天……如今，距离2016年高考只剩26天了，高考的话题趋热。除了备受舆论关注的考生，高考政策的一些新变化也颇引人关注。对此，特为考生进行了梳理。今年高考防作弊措施再升级。明确要结合各地实际，采用二代身份证现场报名确认、现场采集照片和指纹或指静脉等生物特征、及时进行信息比对等措施严防替考......</p>
		        		<div class="theme">
		        			 <span id="time">发表时间：2016/3/27&nbsp;&nbsp;&nbsp;主题：高考新闻 </span>
		        			 <a href="#">查看更多</a>
		        		 </div>		       		
		     	</div>

		     	<div class="page">
					<ul>
						<li><a id="edge" href="#">上一页</a></li>
						<li><a href="#">1</a></li>
						<li><a href="#">2</a></li>
						<li><a href="#">3</a></li>
						<li><a href="#">4</a></li>
						<li><a href="#">5</a></li>
						<li><a href="#">6</a></li>
						<li><a id="edge" href="#">下一页</a></li>
					</ul>
				</div>
			</div>



        </div>
      
        <!--       -footer -      -->
        <div class="footer">
            <div class="foot">
                <div class="fleft">
                    <img src="{IMG_PATH}/logo.png" width="226px" height="98px"/>
                </div>
                <div class="fright">
                    <a href="#"><div class="lianjie">关于我们</div></a>
                    <a href="#"><div class="lianjie">联系我们</div></a>
                    <a href="#"><div class="lianjie">合作加盟</div></a>
                    <div class="dizhi">石家庄旋风教育公司<br/>地址：河北省石家庄市河北师范大学新校区&nbsp&nbsp&nbsp&nbsp TEL:88888888</div>
                </div>
            </div>
            <div class="dibu">
                版权所有 2014@石家庄旋风教育公司 冀ICP备XXXXXXX号
            </div>
        </div>
    </body>
</html>