<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">	
	<head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link href="css/indextop.css" type="text/css" rel="stylesheet"/>
           <link href="css/list.css" rel="stylesheet" type="text/css">
        <title>旋风教育</title>
    </head>
    <body>
    <!--       -导航 -      -->
    	<div class="top">
    		<div class="logo">
    			<img src="images/logo.jpg" width="225px" height="107px"/>
    		</div>
    		<div class="dengzhu">
    			<div class="zhuce">
    				<a href="#"  target=_blank>
                        <img src="images/zhuce.jpg" width="23px" height="22px"/>
                        <div class="zi">注册</div>
                    </a>
    			</div>
    			<div class="denglu">
    				<a href="#"  target=_blank>
                        <img src="images/denglu.jpg" width="22px" height="22px"/>
                        <div class="zi">登录</div>
                    </a>
    			</div>
    		</div>
    		<div class="nav">
    			<ul>
    				<li><a href="#"><span class="shouye">首页</span></a></li>
    				<li><a href="#">测试提分</a></li>
    				<li><a href="#">高考押题</a></li>
    				<li><a href="#">发掘潜能</a></li>
    				<li><a href="#">权威专家</a></li>
    				<li><a href="#">大学须知</a></li>
                    <li><a href="#">高考新闻</a></li>
    				<li><a href="#">关于我们</a></li>
    			</ul>
    		</div>
    	</div>
   		
   		  <!--       -banner-      -->

        <div class="banner">
       		<div class="dengluyemian">
       		<form>
           		<div class="dengluconnect">
           			<div class="dlbt">
           				登&nbsp;&nbsp;&nbsp;&nbsp;录
           			</div>
           			<div class="listdenglukuang">
           				<div class="every">
           					<div class="yonghuming">
           						用户名：		
           					</div>
           					<input type="text"/>
           				</div>
           				<div class="every">
           					<div class="yonghuming">
           						密码：		
           					</div>
           					<input type="password"/>
           				</div>
           				<div class="miandenglu">
           					<div class="mian">	
           						<input type="checkbox" value="7天内免登陆"/><span>7天内免登陆</span>
           					</div>
           					<div class="wangji">
           						忘记密码？
           					</div>
           				</div>
           				<div class="querendenglu">
           					<input type="submit" value="确 认 登 录"/>
           				</div>
           			</div>
        	</div> 
        	</form>
        </div>
      
        <!--       -footer -      -->
        <div class="footer">
            <div class="foot">
                <div class="fleft">
                    <img src="images/logo.png" width="226px" height="98px"/>
                </div>
                <div class="fright">
                    <a href="#"><div class="lianjie">关于我们</div></a>
                    <a href="#"><div class="lianjie">联系我们</div></a>
                    <a href="#"><div class="lianjie">合作加盟</div></a>
                    <div class="dizhi">石家庄旋风教育公司<br/>地址：河北省石家庄市河北师范大学新校区&nbsp&nbsp&nbsp&nbsp TEL:88888888</div>
                </div>
            </div>
            <div class="dibu">
                版权所有 2014@石家庄旋风教育公司 冀ICP备XXXXXXX号
            </div>
        </div>
    </body>
</html>