<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">	
	<head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <link href="{CSS_PATH}/index4.css" type="text/css" rel="stylesheet"/>
        <link href="{CSS_PATH}/index3.css" rel="stylesheet" type="text/css"/>
        <title>旋风教育</title>
    </head>
    <body>
    <!--       -导航 -      -->
    	<div class="top">
    		<div class="logo">
    			<img src="images/logo.jpg" width="225px" height="107px"/>
    		</div>
    		<div class="dengzhu">
    			<div class="zhuce">
    				<a href="#"  target=_blank>
                        <img src="images/zhuce.jpg" width="23px" height="22px"/>
                        <div class="zi">注册</div>
                    </a>
    			</div>
    			<div class="denglu">
    				<a href="#"  target=_blank>
                        <img src="images/denglu.jpg" width="22px" height="22px"/>
                        <div class="zi">登录</div>
                    </a>
    			</div>
    		</div>
    		<div class="nav">
    			<ul>
    				<li><a href="#"><span class="shouye">首页</span></a></li>
    				<li><a href="#">测试提分</a></li>
    				<li><a href="#">高考押题</a></li>
    				<li><a href="#">发掘潜能</a></li>
    				<li><a href="#">权威专家</a></li>
    				<li><a href="#">大学须知</a></li>
                    <li><a href="#">高考新闻</a></li>
    				<li><a href="#">关于我们</a></li>
    			</ul>
    		</div>
    	</div>
        <!--       -bannerin-      -->
        <div class="contentbanner">

        </div>
        <!---        content       -->
       <div class="allcontent">
            <div class="title">
                <h2>野鸡大学公布，全国大学生应警惕</h2>
            </div>
            <div class="sourse">
                <span>作者:潘深亮&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;来源:深圳晚报&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2015-03-14&nbsp;16:21</span>
            </div>
            <hr/>
            <div class="content">
                <p>
                    &nbsp;&nbsp;在GIA美国宝石研究院创立4C标准和国际钻石分级系统™之前，并没有统一的钻石描在GIA美国宝石研究创立4C标准和国际石分级系创立4C标准和国际钻石分级系统™之前，并没有统一的钻石描述方式和品质鉴定方法。述方式和品质鉴定方法。在GIA美国宝石研究院创立在四十至五十年代，GIA通过三大里程碑事件，最终改变了钻石交易的方式：在GIA美国宝石研究院
                </p>
                <p>
                    &nbsp;&nbsp;在GIA美国宝石研究院创立4C标准和国际钻石分级系统™之前，并没有统一的钻石描在GIA美国宝石研究创立4C标准和国际石分级系创立4C标准和国际钻石分级系统™之前，并没有统一的钻石描述方式和品质鉴定方法。述方式和品质鉴定方法。在GIA美国宝石研究院创立在四十至五十年代，GIA通过三大里程碑事件，最终改变了钻石交易的方式：在GIA美国宝石研究院
                </p>
                <p>
                <img src="images/biao.jpg" alt="我是统计学和名单"/>
                </p>
                <p>
                    &nbsp;&nbsp;在GIA美国宝石研究院创立4C标准和国际钻石分级系统™之前，并没有统一的钻石描在GIA美国宝石研究创立4C标准和国际石分级系创立4C标准和国际钻石分级系统™之前，并没有统一的钻石描述方式和品质鉴定方法。述方式和品质鉴定方法。在GIA美国宝石研究院创立在四十至五十年代，GIA通过三大里程碑事件，最终改变了钻石交易的方式：在GIA美国宝石研究院
                </p>
            </div>
            <div class="footers">
            <hr/>
                <p>
                        上一篇：珠宝的鉴定
                </p>
                <p>
                        下一篇：珠宝的保养以及珠宝的等级
                </p>
            </div>
        </div>
        <!--       -footer -      -->
        <div class="footer">
            <div class="foot">
                <div class="fleft">
                    <img src="images/logo.png" width="226px" height="98px"/>
                </div>
                <div class="fright">
                    <a href="#"><div class="lianjie">关于我们</div></a>
                    <a href="#"><div class="lianjie">联系我们</div></a>
                    <a href="#"><div class="lianjie">合作加盟</div></a>
                    <div class="dizhi">石家庄旋风教育公司<br/>地址：河北省石家庄市河北师范大学新校区&nbsp&nbsp&nbsp&nbsp TEL:88888888</div>
                </div>
            </div>
            <div class="dibu">
                版权所有 2014@石家庄旋风教育公司 冀ICP备XXXXXXX号
            </div>
        </div>
    </body>
</html>